body {
  background-image: url(http://revelwallpapers.net/d/7A3231375A6E4C4C336448556D4C6D43705839763472544235384F415A513D3D/artistic-girl-art-design-background.jpg);
}
h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  margin-top: 220px;
  margin-right: 20px;
  margin-right: 20px;
  letter-spacing: 5px;
  border-width: 5px;
  border-left: 10px;
  border-right: 10px;
  text-indent: 5px;
  font-size: 30px;
}
p {
  font-family: condensed, sans serif;
  text-align: center;
  margin-left: 20px;
  margin-top: 40px;
  margin-right: 20px;
  margin-right: 20px;
  color: #A9A9A9;
}

.contentBar ul {
  overflow: hidden;
  background-color: gray;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.contentBar li {
  float: left;
}

.contentBar li a:hover {
  background-color: #111;
}


.contentBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
